version: 2
registries:
  navnoSearchAdminApi:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/navno-search-admin-api
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    registries:
      - navnoSearchAdminApi
    open-pull-requests-limit: 10