opensearch:
  uris: ${OPEN_SEARCH_URI}
  username: ${OPEN_SEARCH_USERNAME}
  password: ${OPEN_SEARCH_PASSWORD}
  page-size: ${OPEN_SEARCH_PAGE_SIZE:10}

spring:
  jackson:
    serialization:
      indent-output: true

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health

logging:
  level:
    root: info