name: Deploy to dev
on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: ./.github/actions/build/action.yaml

  deploy:
    name: Deploy to dev
    needs: build
    permissions:
      contents: read
      id-token: write
      packages: read
    uses: ./.github/actions/deploy/action.yaml
    with:
      environment: dev
    secrets:
      NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
