name: Deploy to dev
on:
  workflow_dispatch

jobs:
  deploy:
    name: Deploy to dev
    permissions:
      contents: read
      id-token: write
      packages: read
    uses: ./.github/actions/build-and-deploy/action.yaml
    with:
      environment: dev
    secrets:
      NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
