name: Deploy to prod
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: ./.github/actions/test-and-build

  deploy:
    name: Deploy to prod
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: ./.github/actions/deploy
        with:
          environment: prod
        env:
          NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER}}

  release:
    name: Create a new release
    needs: deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Generate unique tag name
        run: echo "TAG_NAME=$(date +%s)" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          target_commitish: main
          tag_name: release/prod@${{env.TAG_NAME}} # Generates a unique tag using timestamp
          name: Release ${{github.ref_name}}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{secrets.RELEASE_TOKEN}} # This is a PAT with repo permissions
