name: Deploy to dev
on:
  workflow_dispatch:

jobs:
  build:
    name: Test and build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/test-and-build

  deploy:
    name: Deploy to dev
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build JAR
        run: ./gradlew bootJar --no-daemon -PgithubPassword=${{secrets.GITHUB_TOKEN}}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - uses: ./.github/actions/deploy
        with:
          environment: dev
        env:
          NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER}}
