name: Deploy to dev
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build JAR
        run: ./gradlew bootJar --no-daemon

      - uses: actions/upload-artifact@v4
        with:
          name: jar
          path: build/libs/*.jar
          retention-days: 1

  deploy:
    name: Deploy to dev
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
      packages: read
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v4
        with:
          name: jar
          path: build/libs

      - name: Rename JAR
        run: mv build/libs/*.jar build/libs/navno-search-api.jar

      - uses: ./.github/actions/deploy
        with:
          environment: dev
        env:
          NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
