name: Test and build branch
on: push

jobs:
  test-and-build-branch:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: ./.github/actions/test-and-build/action.yaml
