name: Test and build branch
on:
  push

jobs:
  test-and-build-branch:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - uses: ./.github/actions/build/action.yaml
